.key-row {
  display: flex;
}

.key-row button{
  border: none;
  border-spacing: 0;
  margin: 4px;
  padding: 0;
  width: 60px;
  height: 40px;
  transition: all .2s;
  font-size: 20px;
  background-color: rgb(220,210,230);
}
.key-row button:hover{
  box-shadow: 0 0 4px 4px rgba(180, 190, 180, .1);
  background-color: rgb(220,215,230);
}
